<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _20241CYA12A_G2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_20241CYA12A_G2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/images/logo.png" alt="logo" height="40"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Combos</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Pieza</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Salads</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Entradas</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Salsas</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Bebida</a>
                        </li>
                        <li class="nav-custom-rep">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Postres</a>
                        </li>   
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-custom">
        <div class="container">
            <div class="row"> 
                <div class="col-4">
					<img src="~/images/logo_sin_fondo.png" alt="logo" height="50" />
                </div>
                <div class="col-4">
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Combos </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Piezas </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Salas </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Entradas </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Salsas </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Bebidas </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Postres </a>
                </div>  
                <div class="col-4">
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Contacto </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Seguir pedido </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Reclamos </a>
                    <a class="nav-link p-0 footer-nav-link-custom" asp-controller="Home" asp-action="Index">Legales </a>
                </div>
            </div>
            <div class = "row"> 
                <div class="col-12 footer-copyright-custom">
                    <p> 2024 SushiPop - Desarrollo Web por grupo 2 ORT</p>
                </div>
            </div>
                
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
