@model _20241CYA12A_G2.Models.DetallePedidoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Ultimos pasos...</h1>

<div>
    <button id="boton-confirmar" style="
        background-color: #4CAF80;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    ">
        Confirmar Pedido
    </button>

</div>

